<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Policies</title>
    <link rel="stylesheet" href="explore-policies.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="explore-policies-container">
        <nav class="navbar">
            <img src="\assets\logo-no-background.png">
            <div class="nav-buttons">

                <button *ngIf="isAdminLoggedIn() || isUserLoggedIn()" class="nav-button"
                    routerLink="/profile">Profile</button>
                <button *ngIf="isUserLoggedIn()" class="nav-button" routerLink="/user-policies">My Policies</button>
                <button *ngIf="isAdminLoggedIn()" class="nav-button" routerLink="/user-policies">Manage Registered
                    Policies</button>
                <button *ngIf="(!isUserLoggedIn() && !isAdminLoggedIn())" class="nav-button"
                    routerLink="/login">Login</button>
                <button *ngIf="(!isUserLoggedIn() && !isAdminLoggedIn())" class="nav-button"
                    routerLink="/registration">Register</button>
                    <button class="nav-button" (click)="toggleFormVisibility() ">Add New Policy</button>
                <button *ngIf=isAdminLoggedIn() class="nav-button" routerLink="/admin-dashboard">Dashboard</button>
                <button *ngIf=isUserLoggedIn() class="nav-button" routerLink="/user-dashboard">Dashboard</button>
                <button (click)="logoutUser()" *ngIf="loggedIn" class="nav-button">Logout</button>
                
            </div>
        </nav>
        <h3 *ngIf="(!isUserLoggedIn() && !isAdminLoggedIn())"
            style="color: #1E55B3; padding-top: 15px; text-align: center;"> Log in to Buy Now!</h3>
        <div *ngIf="isEdit" class="policiesForm">
            <form [formGroup]="policiesForm" (ngSubmit)="onUpdate()" class="policiesForm">
                <div class="overview">
                    <h3>Edit Details</h3>
                </div>
                <div class="details">
                    <input type="text" formControlName="policyName" placeholder="Policy Name"
                        [ngClass]="{'is-invalid':f1['policyName'].touched && f1['policyName'].invalid}">
                    <div *ngIf="f['policyName']?.touched && f['policyName']?.invalid" class="invalid-feedback">
                        <div *ngIf="f['policyName']?.errors?.['required']">Policy Name is required</div>
                    </div>
                    <input type="textarea" formControlName="policyDescription" placeholder="Policy Description"
                        [ngClass]="{'is-invalid':f1['policyDescription'].touched && f1['policyDescription'].invalid}">
                    <div *ngIf="f['policyDescription']?.touched && f['policyDescription']?.invalid"
                        class="invalid-feedback">
                        <div *ngIf="f['policyDescription']?.errors?.['required']">Description is required</div>
                    </div>
                    <input type="text" formControlName="company" placeholder="Company"
                        [ngClass]="{'is-invalid':f1['company'].touched && f1['company'].invalid}">
                    <div *ngIf="f['company']?.touched && f['company']?.invalid" class="invalid-feedback">
                        <div *ngIf="f['company']?.errors?.['required']">company is required</div>
                    </div>
                    <input type="text" formControlName="policyType" placeholder="Policy Type"
                        [ngClass]="{'is-invalid':f1['policyType'].touched && f1['policyType'].invalid}">
                    <div *ngIf="f['policyType']?.touched && f['policyType']?.invalid" class="invalid-feedback">
                        <div *ngIf="f['policyType']?.errors?.['required']">policy Type is required</div>
                    </div>
                    <input type="number" formControlName="initialDeposit" placeholder="Initial Deposit "
                        [ngClass]="{'is-invalid':f1['initialDeposit'].touched && f1['initialDeposit'].invalid}">
                    <div *ngIf="f['initialDeposit']?.touched && f['initialDeposit']?.invalid" class="invalid-feedback">
                        <div *ngIf="f['initialDeposit']?.errors?.['required']">Initial Deposit is required</div>
                        <div *ngIf="f['initialDeposit']?.errors?.['min']">Intial Deposit must be Positive</div>
                    </div>

                    <div class="form-group">
                        <label for="termPeriod">Term Period *</label>
                        <select id="termPeriod" formControlName="termPeriod" required>
                            <option value="">Select Term Period</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Quarterly">Quarterly</option>
                            <option value="Half-Yearly">Half-Yearly</option>
                            <option value="Annually">Annually</option>
                        </select>
                    </div>

                    <input type="number" formControlName="termAmount" placeholder="Term Amount "
                        [ngClass]="{'is-invalid':f1['termAmount'].touched && f1['termAmount'].invalid}">
                    <div *ngIf="f['termAmount']?.touched && f['termAmount']?.invalid" class="invalid-feedback">
                        <div *ngIf="f['termAmount']?.errors?.['required']">Term Amount is required</div>
                        <div *ngIf="f['termAmount']?.errors?.['min']">Term Amount should be Positive</div>
                    </div>
                    <input type="number" formControlName="interest" placeholder="Interest "
                        [ngClass]="{'is-invalid':f1['termAmount'].touched && f1['termAmount'].invalid}">
                    <div *ngIf="f['interest']?.touched && f['interest']?.invalid" class="invalid-feedback">
                        <div *ngIf="f['interest']?.errors?.['required']">Interest is required</div>
                        <div *ngIf="f['interest']?.errors?.['min']">Interest should be Positive</div>
                    </div>
                </div>
                <div class="submit">
                    <button type="submit">Update</button>
                </div>
            </form>

        </div>
        <div *ngIf="showBuyForm" class="buy-form">
            <h2>Buy Policy</h2>
            <form [formGroup]="buyForm" (ngSubmit)="onBuyPolicy()">
                <div class="form-group">
                    <label for="start-date">Start Date:</label>
                    <input type="date" formControlName="startDate">
                    <div *ngIf="f['startDate'].invalid && f['startDate'].touched" class="error-message">
                        Start Date is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="durationInYears">Duration (in years):</label>
                    <input type="number" id="durationInYears" formControlName="durationInYears">
                    <div *ngIf="f['durationInYears'].invalid && f['durationInYears'].touched" class="error-message">
                        Duration is required.
                    </div>
                </div>
                <button type="submit" [disabled]="buyForm.invalid">Submit</button>
            </form>
        </div>

        <div *ngIf=" !showForm && !showBuyForm && !isEdit" class="search-table">
            <table class="table table-borderes">
                <thead class="thead">
                    <tr>
                        <th>Policy Id</th>
                        <th>Policy Name</th>
                        <th>Description</th>
                        <th>Company</th>
                        <th>Type</th>
                        <th>Initial Deposit</th>
                        <th>Term Period</th>
                        <th>Term Amount</th>
                        <th>Interest</th>

                        <th *ngIf="isUserLoggedIn()">Buy Now</th>
                        <th *ngIf="isAdminLoggedIn()">Edit</th>
                        <th *ngIf="isAdminLoggedIn()">Delete</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr *ngFor="let policy of policies">
                        <td>{{policy.policyId}}</td>
                        <td>{{policy.policyName}}</td>
                        <td>{{policy.policyDescription}}</td>
                        <td>{{policy.company}}</td>
                        <td>{{policy.policyType}}</td>
                        <td>{{policy.initialDeposit}}</td>
                        <td>{{policy.termPeriod}}</td>
                        <td>{{policy.termAmount}}</td>
                        <td>{{policy.interest}}</td>

                        <td *ngIf="isUserLoggedIn()"><button type="button" class="btn button"
                                (click)="buyPolicy(policy.policyId)">Buy Now</button></td>
                        <td *ngIf="isAdminLoggedIn()" (click)="updatePolicy(policy)"><button type="button"><img
                                    src="../../../assets/edit.png" alt="Edit"></button>
                        </td>
                        <td *ngIf="isAdminLoggedIn()" (click)="deletePolicy(policy.policyId)"><button><img
                                    src="../../../assets/delete.png" alt="Delete"></button>

                    </tr>
                </tbody>

            </table>
            </div>

            <div *ngIf="showForm" class="policiesForm">
                <form [formGroup]="policiesForm" (ngSubmit)="onAdding()" class="policiesForm">
                    <div class="overview">
                        <h3>Registration Form</h3>
                    </div>
                    <div class="details">
                        <label for="policyName">Enter Policy Name *</label>
                        <input type="text" formControlName="policyName" placeholder="Policy Name"
                            [ngClass]="{'is-invalid':f1['policyName'].touched && f1['policyName'].invalid}">
                        <div *ngIf="f['policyName']?.touched && f['policyName']?.invalid" class="invalid-feedback">
                            <div *ngIf="f['policyName']?.errors?.['required']">Policy Name is required</div>
                        </div>
                        <label for="policyDescription">Enter Policy Description*</label>
                        <input type="textarea" formControlName="policyDescription" placeholder="Policy Description"
                            [ngClass]="{'is-invalid':f1['policyDescription'].touched && f1['policyDescription'].invalid}">
                        <div *ngIf="f['policyDescription']?.touched && f['policyDescription']?.invalid"
                            class="invalid-feedback">
                            <div *ngIf="f['policyDescription']?.errors?.['required']">Description is required</div>
                        </div>
                        <label for="company">Enter Company Name*</label>
                        <input type="text" formControlName="company" placeholder="Company"
                            [ngClass]="{'is-invalid':f1['company'].touched && f1['company'].invalid}">
                        <div *ngIf="f['company']?.touched && f['company']?.invalid" class="invalid-feedback">
                            <div *ngIf="f['company']?.errors?.['required']">company is required</div>
                        </div>

                        <div class="form-group">
                            <label for="policyType">Policy Type *</label>
                            <select id="policyType" formControlName="policyType"
                                [ngClass]="{'is-invalid': f1['policyType'].touched && f1['policyType'].invalid}"
                                required>
                                <option value="">Select Policy Type</option>
                                <option value="Vehicle Insurance">Vehicle Insurance</option>
                                <option value="Travel Insurance">Travel Insurance</option>
                                <option value="Life Insurance">Life Insurance</option>
                                <option value="Health Insurance">Health Insurance</option>
                                <option value="Child Plans">Child Plans</option>
                                <option value="Retirement Plans">Retirement Plans</option>
                            </select>
                            <div *ngIf="f['policyType']?.touched && f['policyType']?.invalid" class="invalid-feedback">
                                <div *ngIf="f['policyType']?.errors?.['required']">Policy Type is required</div>
                            </div>
                        </div>
                        <label for="initialDeposit">Enter Initial Deposit*</label>
                        <input type="number" formControlName="initialDeposit" placeholder="Initial Deposit "
                            [ngClass]="{'is-invalid':f1['initialDeposit'].touched && f1['initialDeposit'].invalid}">
                        <div *ngIf="f['initialDeposit']?.touched && f['initialDeposit']?.invalid"
                            class="invalid-feedback">
                            <div *ngIf="f['initialDeposit']?.errors?.['required']">Initial Deposit is required</div>
                            <div *ngIf="f['initialDeposit']?.errors?.['min']">Intial Deposit must be Positive</div>
                        </div>

                        <div class="form-group">
                            <label for="termPeriod">Term Period *</label>
                            <select id="termPeriod" formControlName="termPeriod" required>
                                <option value="">Select Term Period</option>
                                <option value="Monthly">Monthly</option>
                                <option value="Quarterly">Quarterly</option>
                                <option value="Half-Yearly">Half-Yearly</option>
                                <option value="Annually">Annually</option>
                            </select>
                        </div>

                        <label for="termAmount">Enter Term Amount*</label>
                        <input type="number" formControlName="termAmount" placeholder="Term Amount "
                            [ngClass]="{'is-invalid':f1['termAmount'].touched && f1['termAmount'].invalid}">
                        <div *ngIf="f['termAmount']?.touched && f['termAmount']?.invalid" class="invalid-feedback">
                            <div *ngIf="f['termAmount']?.errors?.['required']">Term Amount is required</div>
                            <div *ngIf="f['termAmount']?.errors?.['min']">Term Amount should be Positive</div>
                        </div>
                        <label for="interest">Enter Interest Rate</label>
                        <input type="number" formControlName="interest" placeholder="Interest "
                            [ngClass]="{'is-invalid':f1['termAmount'].touched && f1['termAmount'].invalid}">
                        <div *ngIf="f['interest']?.touched && f['interest']?.invalid" class="invalid-feedback">
                            <div *ngIf="f['interest']?.errors?.['required']">Interest is required</div>
                            <div *ngIf="f['interest']?.errors?.['min']">Interest should be Positive</div>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="submit" [disabled]="policiesForm.invalid">Register</button>
                    </div>
                </form>
                </div>

                <div class="select-dropdown" *ngIf="!showForm && !showBuyForm && !isEdit">
                    <label for="filterMethod">Select Filter Method:</label>
                    <select id="filterMethod" (change)="onFilterMethodChange($event)">
                        <option value="">Select Filter Method</option>
                        <option value="getPolicyByPolicyType">Get Policies By Policy Type</option>
                        <option *ngIf="isAdminLoggedIn() || isUserLoggedIn()" value="getPoliciesByCompany">Get Policies
                            By
                            Company</option>
                        <option *ngIf="isAdminLoggedIn() || isUserLoggedIn()" value="getByAmountGreaterThan">Get
                            Policies By
                            Amount Greater Than</option>
                        <option *ngIf="isAdminLoggedIn() || isUserLoggedIn()" value="getByAmountLessThan">Get Policies
                            By
                            Amount Less Than</option>
                    </select>
                    <div *ngIf="selectedFilterMethod === 'getPolicyByPolicyType'">
                        <label for="policyType">Select Policy Type:</label>
                        <select id="policyType" (change)="onPolicyTypeChange($event)">
                            <option value="">Select Policy Type</option>
                            <option value="Vehicle Insurance">Vehicle Insurance</option>
                            <option value="Travel Insurance">Travel Insurance</option>
                            <option value="Life insurance">Life insurance</option>
                            <option value="Health Insurance">Health Insurance</option>
                            <option value="Child Plans">Child Plans</option>
                            <option value="Retirement Plans">Retirement Plans</option>
                        </select>
                    </div>

                    <div *ngIf="selectedFilterMethod === 'getPoliciesByCompany'">
                        <label for="company">Enter Company Name:</label>
                        <input type="text" id="company" [(ngModel)]="company" placeholder="Enter company name">
                        <button (click)="onGetPoliciesByCompany()">Search</button>
                    </div>

                    <div *ngIf="selectedFilterMethod === 'getByAmountGreaterThan'">
                        <label for="greaterThanAmount">Enter Amount Greater Than:</label>
                        <input type="number" id="greaterThanAmount" [(ngModel)]="greaterThanAmount"
                            placeholder="Enter amount">
                        <button (click)="onGetPoliciesByAmountGreaterThan()">Search</button>
                    </div>
                    <div *ngIf="selectedFilterMethod === 'getByAmountLessThan'">
                        <label for="lessThanAmount">Enter Amount Less Than:</label>
                        <input type="number" id="lessThanAmount" [(ngModel)]="lessThanAmount"
                            placeholder="Enter amount">
                        <button (click)="onGetPoliciesByAmountLessThan()">Search</button>
                    </div>
                </div>
            </div>
     


        <footer>
            <p>&copy; 2024 PoliCare. All rights reserved.</p>
        </footer>

</body>

</html>