*{
  margin:0px;
  padding: -5px;
  box-sizing: border-box;
  font-family: 'afacad';
} 
.body{
  min-height: 100vh;
}
html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-image: url("../../../assets/policy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0; /* Add this to ensure there's no margin */
  border: none;
  box-shadow: none;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  border: none;
  background-image: url("../../../assets/policy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:0px;
  box-shadow: none ;
  background-size: cover !important;
  margin:0;
  
}
.users-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1000px;
  margin: auto; /* This will center the box horizontally */
  position: relative;
  /* top:48%;
  left: 50%;
  transform: translate(-50%, -50%); This will center the box vertically */
  text-align: center;
  /* margin-top:45px; */
}
.details{
  display:flex;
  padding: 20px;
  /* justify-content: space-evenly,flex-start; */
}
.name{
  display: flex;
  justify-content: space-evenly;
  margin-bottom:5px;
}
.dob-pan{
  display: flex;
  justify-content: space-evenly;
  margin-bottom:5px;
}
.employee
{
  display: flex;
  justify-content: space-evenly;
  margin-bottom:5px;
}
.sal-type{
  display:flex;
  justify-content: space-evenly;
}
.email-phone{
  display:flex;
  margin-bottom:5px;
}
.overview{
  margin-top: 0px;
  margin-bottom: -20px;
  color: #4177d3;
  font-size: 40px;
}
.pan{
  margin-left:5px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
.form-group select.form-control{
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
button[type="submit"] {
  text-decoration:none;
  margin-top: 10px;
  font-size: 19px;
  display: inline-block;
  letter-spacing: 2px;
  padding:12px 20px;
  background-color: #1E55B3;
  border-radius: 40px;
  color:#FFFFFF;
}
.navbar img{
  margin-right: auto;
  margin-top:10px;
  width:180px;
  height:45px;
}
/* .general-info{
  margin-left: 0px;
  
} */
.general-info h3{
  margin-top: 0px;
  margin-bottom:0px;
  margin-left: 0px;
  text-align: left;
 
}
.contact h3{
  margin-top: 0px;
  margin-bottom:0px;
  margin-left: 58px;
  text-align: left;
}
.form-inline p{
  margin-top: 0px;
  margin-bottom:10px;
  margin-left: 10px;
  text-align:center;
}
/* .form-inline{
  justify-content: left;
} */
/* .salary{
  margin-left: 8px;
}
input[type="date"]{
  margin-left: 9px;
} */
.type,
.lname,
.ename{
  margin-left: 5px;
}
/* .all-contact{
  text-align: center;
  
  padding: 10px;
  padding-top:0;
} */
input[type="email"]{
  margin-left: 58px;
}
.phone{
  margin-right: 9px;
  margin-left: 5px;
}
.password{
  margin-top: 0px;
}
.pin-state,
.street-city{
  display:flex;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-bottom:5px;
}