<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-dashboard</title>
    <link rel="stylesheet" href="user-policies.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="user-policies-container">
        <nav class="navbar">
            <img src="\assets\logo-no-background.png">
            <div class="nav-buttons">
                <button *ngIf="isUserLoggedIn()" class="nav-button" routerLink="/explore-policies">Search
                    Policies</button>
                <button *ngIf="isAdminLoggedIn()" class="nav-button" routerLink="/explore-policies">Manage
                    Policies</button>
                <button *ngIf="isUserLoggedIn()" class="nav-button" routerLink="/user-dashboard">Dashboard</button>
                <button *ngIf="isAdminLoggedIn()" class="nav-button" routerLink="/admin-dashboard">Dashboard</button>
                <button class="nav-button" routerLink="/profile">Profile</button>

            </div>
        </nav>

        <div *ngIf="isUserLoggedIn()">
            <div *ngIf="!showClaimForm && !showPayForm">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>UserPolicyId</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Maturity Amount</th>
                            <th>Duration In Years</th>
                            <th>Policy Id</th>
                            <th>Policy Name</th>
                            <th>Initial Deposit</th>
                            <th>Term Period</th>
                            <th>Term Amount</th>
                            <th>Interest</th>
                            <th>Register Claim</th>
                            <th>Do Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let userPolicy of userPolicies">
                            <td>{{ userPolicy.userPolicyId }}</td>
                            <td>{{ userPolicy.startDate }}</td>
                            <td>{{ userPolicy.endDate }}</td>
                            <td>{{ userPolicy.maturityAmount }}</td>
                            <td>{{ userPolicy.durationInYears }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.policyId }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.policyName }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.initialDeposit}}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.termPeriod }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.termAmount }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.interest }}</td>
                            <td>
                                <button type="button" class="btn button-primary"
                                    (click)="registerClaim(userPolicy)">Claim</button>
                            </td>
                            <td>
                                <button type="button" class="btn button" (click)="makePayment(userPolicy)">PayNow</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="showPayForm">
                <form [formGroup]="payForm" (ngSubmit)="onPay()" class="pay-form">
                    <div class="payment-reg-header">
                        <h2>Make Payment</h2>
                    </div>
                    <div class="payment-form-group">
                        <input type="date" formControlName="paymentDate" placeholder="Payment Date"
                            class="payment-form-control"
                            [ngClass]="{ 'is-invalid': f2['paymentDate'].touched && f2['paymentDate'].invalid }"
                            (input)="calculateTotalAmountAndFine($event)">
                        <div *ngIf="f2['paymentDate']?.touched && f2['paymentDate']?.invalid" class="invalid-feedback">
                            <div *ngIf="f2['paymentDate']?.errors?.['required']">Payment Date is required </div>
                            <div *ngIf="f2['paymentDate']?.errors?.['past']">Payment Date must be in the past</div>
                        </div>
                        <select formControlName="paymentMethod" class="payment-form-control"
                            [ngClass]="{ 'is-invalid': f2['paymentMethod'].touched && f2['paymentMethod'].invalid }">

                            <option value="">Payment Method</option>
                            <option value="Credit Card">Credit Card</option>
                            <option value="Debit Card">Debit Card</option>
                            <option value="Net Banking">Net Banking</option>
                            <option value="Cash">Cash</option>
                        </select>
                        <div *ngIf="f2['paymentMethod']?.touched && f2['paymentMethod']?.invalid"
                            class="invalid-feedback">
                            <div *ngIf="f2['paymentMethod'].errors?.['required']">Payment Method is required</div>
                        </div>
                        <div *ngIf="payForm.value.paymentDate">
                            <p>Total Amount: {{ payments.totalAmount | currency:'INR' }}</p>
                            <p>Fine: {{ payments.fine | currency:'INR' }}</p>
                        </div>
                        <button type="submit" [disabled]="payForm.invalid">Pay</button>
                    </div>
                </form>
            </div>

            <div *ngIf="showClaimForm">
                <form [formGroup]="claimForm" (ngSubmit)="onRegister()" class="claims-form">
                    <div class="claims-register-header">
                        <h2>Register Claim</h2>
                    </div>
                    <div class="claims-form-group">
                        <input type="date" formControlName="claimDate" placeholder="Claim Date" class="form-control"
                            [ngClass]="{ 'is-invalid': f1['claimDate'].touched && f1['claimDate'].invalid }">
                        <div *ngIf="f1['claimDate']?.touched && f1['claimDate']?.invalid" class="invalid-feedback">
                            <div *ngIf="f1['claimDate']?.errors?.['required']">Claim Date is required & should not be in
                                Past</div>
                        </div>
                        <input type="number" formControlName="claimAmount" placeholder="Claim Amount"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': f1['claimAmount'].touched && f1['claimAmount'].invalid }">
                        <div *ngIf="f1['claimAmount']?.touched && f1['claimDate']?.invalid" class="invalid-feedback">
                            <div *ngIf="f1['claimAmount']?.errors?.['claimAmount']">Claim Date is required & should not
                                be in
                                Past</div>
                        </div>
                        <button type="submit" [disabled]="claimForm.invalid">Register Claim</button>
                    </div>

                </form>



            </div>
        </div>
        <div *ngIf="isAdminLoggedIn()">
            <div *ngIf="showEditForm">
                <h2>Update Registered Policy</h2>
                <form [formGroup]="editUPForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label for="startDate">Start Date</label>
                        <input type="date" id="startDate" formControlName="startDate">
                        <div
                            *ngIf="editUPForm.controls['startDate'].invalid && editUPForm.controls['startDate'].touched">
                            Start Date is required.</div>
                    </div>
                    <div>
                        <label for="durationInYears">Duration In Years</label>
                        <input type="number" id="durationInYears" formControlName="durationInYears">
                        <div
                            *ngIf="editUPForm.controls['durationInYears'].invalid && editUPForm.controls['durationInYears'].touched">
                            Duration In Years is required.
                        </div>
                    </div>
                    <div>
                        <label for="policyId">Policy Id</label>
                        <input type="number" id="policyId" formControlName="policyId">
                        <div *ngIf="editUPForm.controls['policyId'].invalid && editUPForm.controls['policyId'].touched">
                            Policy Id is required.
                        </div>
                    </div>

                    <button type="submit" [disabled]="editUPForm.invalid">Submit</button>
                </form>
            </div>

            <div *ngIf="!showEditForm">
                <div class="select-dropdown">
                    <label for="filterMethod">Select Filter Method:</label>
                    <select id="filterMethod" (change)="onFilterMethodChange($event)">
                        <option value="">Select Filter Method</option>
                        <option *ngIf="isAdminLoggedIn() || isUserLoggedIn()" value="getUserPolicyByUserPolicyId">Get
                            UserPolicies By UserPolicy Id</option>
                        <option *ngIf="isAdminLoggedIn() || isUserLoggedIn()" value="getUserPolicyByUserId">Get
                            UserPolicies By UserId</option>
                    </select>
                    <div *ngIf="selectedFilterMethod === 'getUserPolicyByUserPolicyId'">
                        <label for="userPolicyId">Enter User Policy Id:</label>
                        <input type="number" id="userPolicyId" [(ngModel)]="userPolicyId"
                            placeholder="Enter UserPolicy Id">
                        <button (click)="onGetUserPolicyByUserPolicyId()">Search</button>
                    </div>
                    <div *ngIf="selectedFilterMethod === 'getUserPolicyByUserId'">
                        <label for="userId">Enter User Id:</label>
                        <input type="number" id="userId" [(ngModel)]="userId" placeholder="Enter UserId">
                        <button (click)="onGetUserPolicyByUserId()">Search</button>
                    </div>
                </div>

                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>UserPolicyId</th>
                            <th>UserId</th>
                            <th>Username</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Maturity Amount</th>
                            <th>Duration(Years)</th>
                            <th>PolicyId</th>
                            <th>Policy Name</th>
                            <th>Initial Deposit</th>
                            <th>Term Period</th>
                            <th>Term Amount</th>
                            <th>Interest</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let userPolicy of userPolicies">
                            <td>{{ userPolicy.userPolicyId }}</td>
                            <td *ngIf="userPolicy.user">{{ userPolicy.user.userId }}</td>
                            <td *ngIf="userPolicy.user">{{ userPolicy.user.emailAddress }}</td>
                            <td>{{ userPolicy.startDate }}</td>
                            <td>{{ userPolicy.endDate }}</td>
                            <td>{{ userPolicy.maturityAmount }}</td>
                            <td>{{ userPolicy.durationInYears }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.policyId }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.policyName }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.initialDeposit}}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.termPeriod }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.termAmount }}</td>
                            <td *ngIf="userPolicy.policy">{{ userPolicy.policy.interest }}</td>
                            <td><button type="button"
                                    (click)="editUserPolicy(userPolicy)"><img src="../../../assets/edit.png"
                                    alt="Edit"></button>

                                    
                            </td>
                            <td><button type="button"
                                    (click)="deleteUserPolicy(userPolicy.userPolicyId)"><img src="../../../assets/delete.png"
                                    alt="Delete"></button></td>


                        </tr>
                    </tbody>
                </table>
            </div>

        </div>



        <footer>
            <p>&copy; 2024 PoliCare. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>