<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
    <link rel="stylesheet" href="forgot-password.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="login-container">
        <nav class="navbar">
            <img src="\assets\logo-no-background.png" alt="Logo" class="navbar-logo">
            <div class="nav-buttons">
                <button class="nav-button" routerLink="/explore-policies">Search Policies</button>
                <button class="nav-button" routerLink="/">Home</button>
            </div>
        </nav>
        <div>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                <div class="login-form">
                    <h2>Change Password</h2>
                    <p>Please enter your Email id and password!</p>

                    <input type="email" formControlName="email" placeholder="Email"
                        [ngClass]="{ 'is-invalid': f1['email'].touched && f1['email'].invalid }">
                    <div *ngIf="f1['email']?.touched && f1['email']?.invalid" class="invalid-feedback">
                        <div *ngIf="f1['email']?.errors?.['required']">Email is required</div>
                        <div *ngIf="f1['email']?.errors?.['email']">Invalid Email Address</div>
                    </div>

                    <div class="password-input-container">
                        <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"
                            placeholder="Enter New Password"
                            [ngClass]="{ 'is-invalid': f1['password'].touched && f1['password'].invalid }">
                        <button type="button" class="password-toggle-btn" (click)="togglePasswordVisibility()">
                            <img src="assets/{{ showPassword ? 'eye_icon.png' : 'closed_eye.png' }}"
                                alt="Toggle Password Visibility" width="15" height="15">
                        </button>
                    </div>
                    <div *ngIf="f1['password']?.touched && f1['password']?.invalid" class="invalid-feedback">
                        <div *ngIf="f1['password']?.errors?.['required']">Password is required</div>
                        <div *ngIf="f1['password']?.errors?.['pattern']">Password must be at least 8 characters.</div>
                    </div>
                    <button class="login-btn" type="submit" [disabled]="editForm.invalid">Update</button>
                </div>
            </form>
        </div>

        <footer>
            <p>&copy; 2024 PoliCare. All rights reserved.</p>
        </footer>
    </div>
</body>