<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>manage-users</title>
  <link rel="stylesheet" href="manage-users.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="manage-users">
    <nav class="navbar">
      <img src="\assets\logo-no-background.png">
      <div class="nav-buttons">
          <button class="nav-button" routerLink="/explore-policies">Manage Policies</button>
          <button class="nav-button" routerLink="/user-policies">Manage Registered Policies</button>
          <button class="nav-button" routerLink="/admin-dashboard">Dashboard</button>
          <button class="nav-button" routerLink="/profile">Profile</button>
        
      </div>
  </nav>
    <div *ngIf="isEdit" class="form">
      <form [formGroup]="usersForm" (ngSubmit)="onUpdate()" class="users-form">
        <div class="overview">
          <h3>Edit Details</h3>
        </div>
        <div class="details">
          <div class="general-info">
            <h5>General Information</h5>
            <div class="name">
              <!-- Example of displaying error messages only if form fields are touched or dirty -->
              <div class="login-form-group">
                <input type="text" formControlName="firstName" placeholder="First Name" class="login-form-control"
                  [ngClass]="{ 'is-invalid': f['firstName'].touched && f['firstName'].invalid }">
                <div *ngIf="f['firstName']?.touched && f['firstName']?.invalid" class="invalid-feedback">
                  <div *ngIf="f['firstName']?.errors?.['required']">First Name is required</div>
                  <div *ngIf="f['firstName']?.errors?.['pattern']">First Name can only contain alphabets and spaces
                  </div>
                </div>
              </div>
              <div class="lname">
                <div class="login-form-group">
                  <input type="text" formControlName="lastName" placeholder="Last Name" class="login-form-control"
                    [ngClass]="{ 'is-invalid': f['lastName'].touched && f['lastName'].invalid }">
                  <div *ngIf="f['lastName']?.touched && f['lastName']?.invalid" class="invalid-feedback">
                    <div *ngIf="f['lastName'].errors?.['required']">Last Name is required</div>
                    <div *ngIf="f['lastName'].errors?.['pattern']">Last Name can only contain alphabets and spaces
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dob-pan">
              <div class="login-form-group">
                <input type="date" formControlName="dateOfBirth" placeholder="Date Of Birth"
                  class="login-form-control"
                  [ngClass]="{ 'is-invalid': f['dateOfBirth'].touched && f['dateOfBirth'].invalid }">
                <div *ngIf="f['dateOfBirth']?.touched && f['dateOfBirth']?.invalid" class="invalid-feedback">
                  <div *ngIf="f['dateOfBirth'].errors?.['required']">Date of Birth is required</div>
                  <div *ngIf="f['dateOfBirth'].errors?.['past']">Date of Birth must be in the past</div>
                </div>
              </div>

              <div class="login-form-group">
                <div class="pan">
                  <input type="text" formControlName="panNumber" placeholder="PAN Number" class="login-form-control"
                    [ngClass]="{ 'is-invalid': f['panNumber'].touched && f['panNumber'].invalid }">
                  <div *ngIf="f['panNumber']?.touched && f['panNumber']?.invalid" class="invalid-feedback">
                    <div *ngIf="f['panNumber'].errors?.['required']">PAN Number is required</div>
                    <div *ngIf="f['panNumber'].errors?.['pattern']">Invalid PAN number format</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="employee">
              <div class="login-form-group">

                <input type="text" formControlName="employerType" placeholder="Employer Type"
                  class="login-form-control"
                  [ngClass]="{ 'is-invalid': f['employerType'].touched && f['employerType'].invalid }">
                <div *ngIf="f['employerType']?.touched && f['employerType']?.invalid" class="invalid-feedback">
                  <div *ngIf="f['employerType'].errors?.['required']">Employer Type is required</div>
                  <div *ngIf="f['employerType'].errors?.['maxlength']">String length cannot exceed 25 characters</div>
                </div>
              </div>

              <div class="ename">
                <div class="login-form-group">

                  <input type="text" formControlName="employerName" placeholder="Employer Name"
                    class="login-form-control" [ngClass]="{ 'is-invalid': submitted && f['employerName'].errors }">
                  <div *ngIf="submitted && f['employerName'].errors" class="invalid-feedback"></div>
                  <div *ngIf="f['employerName'].errors?.['maxlength']">String length cannot exceed 25 characters</div>
                </div>
              </div>
            </div>
            <div class="sal-type">
              <div class="salary">
                <div class="login-form-group">

                  <input type="number" formControlName="salary" placeholder="Salary" class="login-form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['salary'].errors }">
                  <div *ngIf="submitted && f['salary'].errors" class="invalid-feedback"></div>
                  <div *ngIf="f['salary'].errors?.['min']">Salary must be a positive number</div>
                </div>
              </div>
              <div class="type">
                <div class="login-form-group">
                  <select formControlName="userType" class="login-form-control"
                    [ngClass]="{ 'is-invalid': f['userType'].touched && f['userType'].invalid }">

                    <option value="">User Type</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                  </select>
                  <div *ngIf="f['userType']?.touched && f['userType']?.invalid" class="invalid-feedback">
                    <div *ngIf="f['userType'].errors?.['required']">User Type is required</div>
                    <div *ngIf="f['userType'].errors?.['pattern']">User Type should be either 'Admin' or 'User'</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact">
            <h5>Contact Details</h5>
            <div class="all-contact">
              <div class="email-phone">
                <div class="login-form-group">
                  <input type="email" formControlName="emailAddress" placeholder="Email Address"
                    class="login-form-control"
                    [ngClass]="{ 'is-invalid': f['emailAddress'].touched && f['emailAddress'].invalid }">
                  <div *ngIf="f['emailAddress']?.touched && f['emailAddress']?.invalid" class="invalid-feedback">
                    <div style="color: red;" *ngIf="f['emailAddress'].errors?.['required']">Email Address is required
                    </div>
                    <div *ngIf="f['emailAddress'].errors?.['email']">Invalid email address</div>
                  </div>
                </div>
                <div class="phone">
                  <div class="login-form-group">
                    <input type="text" formControlName="contactNumber" placeholder="Contact Number"
                      class="login-form-control"
                      [ngClass]="{ 'is-invalid': f['contactNumber'].touched && f['contactNumber'].invalid }">
                    <div *ngIf="f['contactNumber']?.touched && f['contactNumber']?.invalid" class="invalid-feedback">
                      <div style="color: red;" *ngIf="f['contactNumber'].errors?.['required']">Contact Number is
                        required
                      </div>
                      <div style="color: red;" *ngIf="f['contactNumber'].errors?.['pattern']">Contact Number must
                        start
                        with
                        digits
                        6-9 and contain 10 digits</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Add Address form group -->
              <div formGroupName="address" class="form-inline">
                <div class="login-form-group">
                  <p><b>Address</b></p>
                  <input type="text" formControlName="addressLine" placeholder="Street" class="login-form-control">
                  <input type="text" formControlName="city" placeholder="City" class="login-form-control">
                  <input type="text" formControlName="cityPincode" placeholder="Pincode" class="login-form-control">
                  <input type="text" formControlName="state" placeholder="State" class="login-form-control">
                </div>
              </div>
              <br>

            </div>
          </div>
        </div>


        <div class="password">
          <div class="login-form-group password-input">
            <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" placeholder="Password"
              class="login-form-control" [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].invalid }">
            <button type="button" class="password-toggle-btn" (click)="togglePasswordVisibility()">
              <img src="assets/{{ showPassword ? 'eye_icon.png' : 'closed_eye.png' }}"
                alt="Toggle Password Visibility" width="15" height="15">
            </button>
            <div *ngIf="f['password']?.touched && f['password']?.invalid" class="invalid-feedback">
              <div style="color: red;" *ngIf="f['password'].errors?.['required']">Password is required</div>
            </div>
          </div>

        </div>
        <div class="submit">
          <button type="submit">Update</button>
        </div>

      </form>
    </div>



  </div>

  <div  [hidden]="isEdit" class="edit-form">
    


    <div class="filter">
      <select id="filterOption" (change)="selectFilter($event)">
        <option value="">Select Filter</option>
        <option value="userType">Search UserType</option>
        <option value="contactNumber">Search by Contact Number</option>
        <option value="userTypeByEmail">Get User by Email Address</option>
        <option value="userById">Search By UserId</option>
      </select>
      <div *ngIf="selectedFilter === 'userType'">
        <select id="userTypeFilter" [(ngModel)]="userType" (change)="filterByUserType()">
          <option value="">Select User Type</option>
          <option value="Admin">Admin</option>
          <option value="User">User</option>
          <button (click)="filterByUserType()">Filter</button>
        </select>
      </div>
    </div>

    <div *ngIf="selectedFilter === 'contactNumber'">
      <input type="text" id="contactNumberFilter" [(ngModel)]="contactNumber" placeholder="Enter Contact Number">
      <button (click)="filterByContactNumber()">Filter</button>
    </div>

    <div *ngIf="selectedFilter === 'Email'">
      <input type="text" id="emailAddressFilter" [(ngModel)]="emailAddress" placeholder="Enter Email Address">
      <button (click)="filterByEmail()">Filter</button>
    </div>

    <div *ngIf="selectedFilter === 'userById'">
      <input type="number" id="userIdFilter" [(ngModel)]="userId" placeholder="Enter User ID">
      <!-- Input field for entering user ID -->
      <button (click)="filterByUserId()">Filter</button> <!-- Button to trigger the filterByUserId method -->
    </div>

    <div class="search-table">
      <table class="table table-borderes">
        <thead class="thead">
          <tr>
            <th>User Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>User Type</th>
            <th>Employer Type</th>
            <th>Employer Name</th>
            <th>Pan Number</th>
            <th>Salary</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.contactNumber}}</td>
            <td>{{user.emailAddress}}</td>
            <td>{{user.dateOfBirth}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.employerType}}</td>
            <td>{{user.employerName}}</td>
            <td>{{user.panNumber}}</td>
            <td>{{user.salary}}</td>
            <td>{{user.address.addressLine}}, {{user.address.city}}, {{user.address.state}},
              {{user.address.cityPincode}}
            </td>
            <td><button class="edit-button" (click)="onEditClicked(user)"><img src="../../../assets/edit.png"
                  alt="Edit"></button></td>
            <td><button (click)="confirmDelete(user.userId)"><img src="../../../assets/delete.png"
                  alt="Delete"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer>
      <p>&copy; 2024 PoliCare. All rights reserved.</p>
  </footer>

  </div>
  </body>
  </html>