*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'afacad';
} 
.user-policies-container{
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-image: url("../../../assets/policy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0; 
  border: none;
  box-shadow: none;
}
.nav-buttons {
  font-family: 'afacad';
  display: flex;
  
}

.navbar img{
  margin-right: auto;
  margin-top:2px;
  width:180px;
  height:45px;
}
.nav-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top:2px;
  padding: 10px 20px;
  background-color: #1E55B3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'afacad';
  font-size: 15px;
}

.nav-button:hover {
  background-color: #114194;
}

footer {
  background-color: transparent; 
  color: #1E55B3; 
  padding: 0px; 
  text-align: center; 
  position: fixed; 
  width: 100%; 
  bottom: 0; 
}

footer p {
  margin: 0; 
}

.table {
  background-color: rgba(255, 255, 255, 0.8);
  width: 95%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.table tbody tr td button img {
  background-color: transparent;
  width: 20px;
  height: 20px;

}

table tbody tr td button{
  background-color: transparent;
  border:none;
  width: 20px;
  height: 20px;

}
.table td:nth-child(5),
.table th:nth-child(6) {
  width: 140px;
}
.table td:nth-child(4),
.table th:nth-child(5) {
  width: 140px;
}


th,
td {
  border: 1px solid rgba(0, 0, 0, 0.214);
  padding: 8px;
  text-align: center; 
  vertical-align: middle; 
}

.table thead th,
.table tbody td {
  border: 1px solid rgba(0, 0, 0, 0.214);
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.table thead th:first-child,
.table tbody td:first-child {
  border-left: none;
}

.table thead th:last-child,
.table tbody td:last-child {
  border-right: none;
}

.table thead th {
  border-top: none;
}

.table tbody td {
  border-bottom: none;
}

.pagination {
  justify-content: end;
}


.payment-form {
  margin:0 auto; 
  width: 25%; 
  padding: 20px; 
  background-color: #ffffff98; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  margin-top: 80px;
  text-align: center;
}
.payment-form h2 {
  color: #1E55B3; 
  margin-bottom: 30px; 
}
.payment-form label {
  display: block; 
  margin-bottom: 15px; 
  text-align: left;
  font-weight: bold;
}

.payment-form p {
  margin-bottom: 5px;
  font-weight: bold;
}


.payment-form select {
  width:  calc(100% - 16px);
  padding: 6px; 
  margin-bottom: 15px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-top: 15px;
}

.payment-form .invalid-feedback {
  color: red; 
  font-size: 12px; 
  margin-top: 5px;
}

.payment-form button[type="submit"] {
  background-color: #1E55B3; 
  color: white; 
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.payment-form button[type="submit"]:hover {
  background-color: #114194; 
}
.payment-form button[type="submit"] {
  display: block; 
  margin: 0 auto;
  padding: 3px 50px; 
}

button.pay-now-btn {
  background-color:#1E55B3 !important; 
  border: none;
  color: white; 
  padding: 5px 8px 0px 8px !important; 
  text-align: center !important; 
  text-decoration: none;
  display: inline-block;
  border-radius: 5px; 
  cursor: pointer; 
  transition-duration: 0.4s;
  width :60px !important;
  height:35px !important; 
}

.payment-form select.payment-form-control {
  width: 50%; 
  padding: 5px; 
  margin-bottom: 15px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}


.payment-form input[type="number"] {
  padding: 3px;
}

.payment-form input[type="number"] {
  width: calc(100% - 16px); 
  padding: 8px; 
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.select-dropdown {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
}

.select-dropdown label {
  color: #333;
  margin-right: 10px;
}

.select-dropdown select,
.select-dropdown input[type="number"] {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #1E55B3;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  appearance: none;
}

.select-dropdown select:focus,
.select-dropdown select:hover,
.select-dropdown input[type="number"]:focus,
.select-dropdown input[type="number"]:hover {
  outline: none;
  background-color: #fff;
}

.select-dropdown select:active,
.select-dropdown select:checked,
.select-dropdown input[type="number"]:active,
.select-dropdown input[type="number"]:checked {
  background-color: #fff;
}

.select-dropdown select option {
  background-color: #fff;
  color: #333;
}

.select-dropdown button {
  padding: 10px 20px;
  background-color: #fff;
  color: #1E55B3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.edit-form {
  margin: auto; 
  width: 30%; 
  padding: 20px; 
  background-color: #ffffff98; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  margin-top: 25px;
}

.edit-form h2 {
  color: #1E55B3; 
  margin-bottom: 10px; 
}
.edit-form label {
  display: block; 
  margin-bottom: 5px; 
  text-align: left;
  font-weight: bold;
}
.edit-form input[type="date"],
.edit-form input[type="number"] {
  width: 100%; 
  padding: 8px; 
  margin-bottom: 15px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}
.edit-form button[type="submit"] {
  background-color: #1E55B3; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}
.edit-form button[type="submit"]:hover {
  background-color: #114194; 
}

.edit-form button[type="submit"] {
  display: block; 
  margin: 0 auto; 
}