<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="home-container">
        <div class="row">
            <nav class="navbar">
                <img src="\assets\logo-no-background.png">
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/explore-policies">Search Policies</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/registration">Register</a></li>

                </ul>
            </nav>
            <div class="content">
                <h1>We offer top-notch policies to keep you and your family safe.</h1>
                <p>Our goal is to provide you with the best plans for your peace of mind.</p>
                <a routerLink="/explore-policies">Explore Policies</a>
            </div>
        </div>
        <footer>
            <p>&copy; 2024 PoliCare. All rights reserved.</p>
        </footer>
    </div>
    
</body>
</html>