<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-dashboard</title>
    <link rel="stylesheet" href="claims.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>
<div class="claims-container">
    <nav class="navbar">
        <img src="\assets\logo-no-background.png">
            <div class="nav-buttons">
                <button *ngIf="isAdminLoggedIn()"class="nav-button" routerLink="/explore-policies">Manage Policies</button>
                <button *ngIf="isUserLoggedIn()" class="nav-button" routerLink="/user-policies">My Policies</button>
                <button *ngIf="isAdminLoggedIn()" class="nav-button" routerLink="/admin-dashboard">Dashboard</button>
                <button *ngIf="isUserLoggedIn()" class="nav-button" routerLink="/user-dashboard">Dashboard</button>
                <button class="nav-button" routerLink="/profile">Profile</button>
            </div>
    </nav>

    <table class="table" *ngIf="!showEditForm">
        <thead class="thead">
            <tr>
                <th>Claim ID</th>
                <th>Claim Date</th>
                <th>Claim Amount</th>
                <th>Claim Status</th>
                <th>UserPolicyId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let claim of claims">
                <td>{{ claim.claimId }}</td>
                <td>{{ claim.claimDate }}</td>
                <td>{{ claim.claimAmount }}</td>
                <td>{{ claim.claimStatus }}</td>
                <td *ngIf="claim.userPolicy">{{ claim.userPolicy.userPolicyId }}</td>
                    <button (click)="editClaim(claim)"><img src="../assets/edit.png"alt="Edit"></button>
                    <button (click)="deleteClaim(claim.claimId)"><img src="../assets/delete.png" alt="Delete"></button>
            </tr>
        </tbody>
    </table>


    <div *ngIf="showEditForm">
        <h2>Update Claim</h2>
        <form [formGroup]="editClaimForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="claimDate">Claim Date</label>
                <input type="date" id="claimDate" formControlName="claimDate">
                <div *ngIf="editClaimForm.controls['claimDate'].invalid && editClaimForm.controls['claimDate'].touched">
                    Claim Date is required.</div>
            </div>

            <div>
                <label for="claimAmount">Claim Amount</label>
                <input type="number" id="claimAmount" formControlName="claimAmount">
                <div
                    *ngIf="editClaimForm.controls['claimAmount'].invalid && editClaimForm.controls['claimAmount'].touched">
                    Claim Amount is required.
                </div>
            </div>

            <div>
                <label for="claimStatus">Claim Status</label>
                <select id="claimStatus" formControlName="claimStatus">
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <div
                    *ngIf="editClaimForm.controls['claimStatus'].invalid && editClaimForm.controls['claimStatus'].touched">
                    Claim Status is required.
                </div>
                </div>

                <div>
                    <label for="userPolicyId"></label>
                    <input type="number" id="userPolicyId" formControlName="userPolicyId">
                    <div
                        *ngIf="editClaimForm.controls['userPolicyId'].invalid && editClaimForm.controls['userPolicyId'].touched">
                        userPolicyId is required.
                    </div>
                </div>


            <button type="submit" [disabled]="editClaimForm.invalid">Submit</button>
        </form>

    </div>


    <div class="filter">
        <select id="filterOption" [(ngModel)]="selectedFilter">
          <option value="">Search by</option>
          <option value="claimAmount">Search by Claim Amount</option>
          <option value="claimStatus">Search by Claim Status</option>
          <option value="claimId">Search by Claim Id</option>
        </select>

        <div *ngIf="selectedFilter === 'claimAmount'">
            <input type="number" id="claimAmountFilter" [(ngModel)]="claimAmount" placeholder="Enter Claim Amount">
            <button (click)="searchClaims()">Filter</button>
        </div>

        <div *ngIf="selectedFilter === 'claimStatus'">
            <select id="claimStatusFilter" [(ngModel)]="claimStatus" placeholder="Select Claim Status">
                <option value="">Select Claim Status</option>
                <option value="Pending">Pending</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
            </select>
            <button (click)="searchClaims()">Filter</button>
        </div>

        <div *ngIf="selectedFilter === 'claimId'">
            <input type="number" id="claimIdFilter" [(ngModel)]="claimId" placeholder="Enter Claim ID">
            <button (click)="searchClaims()">Search</button>
          </div>

    <footer>
        <p>&copy; 2024 PoliCare. All rights reserved.</p>
    </footer>


    <body>

    </body>